<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>Добавить информацию о гостиничном номере</title>
        <style type="text/css">
            body {
                font-size: 20px;
                font-family: Montserrat;
                padding: 0% 15% 0% 30% ;
            }
            a {
                text-decoration: none;
            }
            a:active,a:visited{
                color: black;
            }
            table{
                border-collapse: collapse;
                border: 3px solid black;
            }
            td {
                padding:10px;
                border: 2px solid lightgray;
            }
        </style>
    </head>
    <body>
        <h1>Добавить новый номер</h1>
        <form method="post" action="/project/create">
            <table>
              <tr>
                <td><label for="name">Код номера:</label></td>
                <td><input type="text" name="name"></td>
              </tr>
              <tr>
                <td><label for="type">Тип:</label></td>
                <td><input type="text" name="type"></td>
              </tr>
              <tr>
                <td><label for="cost">Стоимость:</label></td>
                <td><input type="text" name="cost"></td>
              </tr>
              <tr>
                <tr>
                    <td><input type="submit"></td>
                </tr>
            </table>
        </form>
    <a href="/project" >Главное окно</a>
    </body>
</html>